# Node.js / Express specific
node_modules/
dist/

# Environment variables
.env

# Logs
logs/

# Temporary files
*.tmp

# macOS specific
.DS_Store

# Editor specific
.vscode/

# Dependency lock files
package-lock.json
yarn.lock

# IDE / Editor settings
.idea/
*.code-workspace
*.sublime-project
*.sublime-workspace
*.komodoproject
*.komodotools
/.idea/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
